<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thông tin chi tiết /</span> Tài khoản</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Thông tin cá nhân</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img alt="user-avatar" class="d-block rounded" height="100" width="100"
                                id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden
                                        accept="image/png, image/jpeg" onchange="handleFileChange()" />
                                </label>
                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="fullName" class="form-label">Họ và tên</label>
                                    <input disabled class="form-control" type="text" id="full-name" name="fullName"
                                        value="John" autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input disabled class="form-control" type="text" id="email" name="email"
                                        value="john.doe@example.com" placeholder="john.doe@example.com" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="address" class="form-label">Địa chỉ</label>
                                    <input disabled type="text" class="form-control" id="address" name="address"
                                        placeholder="Address" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="phone-number" class="form-label">Số điện thoại</label>
                                    <input disabled class="form-control" type="text" name="phoneNumber"
                                        id="phone-number" value="" />
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2" onclick="changePassword()">Đổi mật
                                    khẩu</button>

                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>
        </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>

<!-- modal change password -->
<div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal-label">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-create-employee" enctype="application/x-www-form-urlencoded">
                    <div class="mb-3">
                        <label for="old-password">Mật khẩu cũ</label>
                        <input class="form-control" type="text" placeholder="Nhập mật khẩu cũ" id="old-password"
                            name="oldPassword">
                    </div>

                    <div class="mb-3">
                        <label for="new-password">Mật khẩu mới</label>
                        <input class="form-control" type="text" placeholder="Nhập mật khẩu mới" id="new-password"
                            name="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password">Xác nhận mật khẩu</label>
                        <input class="form-control" type="text" placeholder="Xác nhận mật khẩu mới"
                            id="confirm-password" name="confirmPassword">
                    </div>

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Huỷ </button>
            <button type="button" class="btn-add-product btn btn-primary pe-auto" onclick="confirmChange()"> Lưu thay
                đổi
            </button>
        </div>
    </div>
</div>

<!-- Toast message --->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="bg-success text-white toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<script src="/js/account-setting.js"></script>