<h4 class="mb-2">Chรo mแปซng ฤแบฟn Sneat Mobile! ๐</h4>
<p class="mb-4">ฤแปi mแบญt khแบฉu</p>

<form id="formAuthentication" class="mb-3" action="index.html" method="POST">
    <div class="mb-3">
        <label for="new-password" class="form-label">Mแบญt khแบฉu mแปi</label>
        <input type="password" class="form-control" id="new-password" name="new-password"
            placeholder="Nhแบญp mแบญt khแบฉu mแปi" autofocus aria-describedby="password" />
    </div>
    <div class="mb-3 form-password-toggle">
        <div class="d-flex justify-content-between">
            <label class="form-label" for="password">Xรกc nhแบญn mแบญt khแบฉu</label>
        </div>
        <div class="input-group input-group-merge">
            <input type="password" id="confirm-password" class="form-control" name="confirm-password"
                placeholder="Xรกc nhแบญn lแบกi mแบญt khแบฉu" aria-describedby="password" />

        </div>
    </div>
    <p class="text-left ">
        <span class="message d-none text-danger"></span>
        <span class="message-success d-none text-success"></span>
    </p>
    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="button">Xรกc nhแบญn</button>
    </div>
</form>

<p class="text-center">
    <span>ฤแปi mแบญt khแบฉu ฤแป tiแบฟp tแปฅc?</span>
    <a href="auth-register-basic.html">
        <span>ฤฤng nhแบญp</span>
    </a>
</p>

<script src="/js/changePassword.js"></script>