<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span>
			Checkout</h4>

		<!-- Basic Bootstrap Table -->
		<div class="card">
			<div>
				<h5 class="card-header">Checkout</h5>
				<form id="form-checkout">
					<div class="mb-3">
						<label style="padding-bottom:8px; margin-left: 24px;" for="customer-phone-number">Số điện
							thoại khách
							hàng</label>
						<input style="margin-left: auto; margin-right: auto; width: 96%" class="form-control"
							type="text" placeholder="Số điện thoại" id="customer-phone-number"
							name="customer-phone-number" onblur="getCustomerProfile()"
							onchange="handlePhoneNumberInputOnchange()" />
					</div>
					<div class="mb-3">
						<label style="padding-bottom:8px; margin-left: 24px;" for="customer-name">Tên khách
							hàng</label>
						<input style="margin-left: auto; margin-right: auto; width: 96%" class="form-control"
							type="text" placeholder="Tên khách hàng" id="customer-name" name="customer-name" />
					</div>
					<div class="mb-3">
						<label style="padding-bottom:8px; margin-left: 24px;" for="customer-address">Địa chỉ</label>
						<input style="margin-left: auto; margin-right: auto; width: 96%" class="form-control"
							type="text" placeholder="Địa chỉ" id="customer-address" name="customer-address" />
					</div>
				</form>
			</div>

			<div class="text-nowrap">
				<h5 class="card-header">Lịch sử mua hàng</h5>
				<table class="table">
					<thead>
						<tr>
							<th>Mã hóa đơn</th>
							<th>Tên khách hàng</th>
							<th>Tổng số hàng</th>

							<th>Tổng tiền</th>
							<th>Số tiền nhận</th>
							<th>Số tiền thừa</th>
							<th>Nhân viên</th>
							<th>Thời gian</th>
						</tr>
					</thead>
					<tbody class="tbody table-border-bottom-0">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- / Content -->
</div>

<!-- Footer -->
<!-- <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer> -->
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div id="liveToast" class="bg-success text-white toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				Xin ch
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
				aria-label="Close"></button>
		</div>
	</div>
</div>

<div class="modal fade" id="invoiceDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="add-product-modal-label">Chi tiết hóa đơn</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="invoice-code">Mã hóa đơn</label>
						<input class="form-control" type="text" id="invoice-code" name="invoice-code" disabled />
					</div>
					<div class="mb-3">
						<label for="customer-name">Tên khách hàng</label>
						<input class="form-control" type="text" id="customer-name" name="customer-name" disabled />
					</div>
					<div class="mb-3">
						<label for="total-products">Tổng số hàng</label>
						<input class="form-control" type="number" id="total-products" name="total-products" disabled />
					</div>
					<div class="mb-3">
						<label for="total-price">Tổng tiền</label>
						<input class="form-control" type="text" id="total-price" name="total-price" disabled />
					</div>
					<div class="mb-3">
						<label for="receive-money">Số tiền nhận</label>
						<input class="form-control" type="text" id="receive-money" name="receive-money" disabled />
					</div>
					<div class="mb-3">
						<label for="excess-money">Số tiền thừa</label>
						<input class="form-control" type="text" id="excess-money" name="excess-money" disabled />
					</div>
					<div class="mb-3">
						<label for="sales-staff">Nhân viên</label>
						<input class="form-control" type="text" id="sales-staff" name="sales-staff" disabled />
					</div>
					<div class="mb-3">
						<label for="created-at">Ngày tạo hóa đơn</label>
						<input class="form-control" type="text" id="created-at" name="created-at" disabled />
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/checkout.js"></script>